* {
    margin: 0px;
}

.navbar {
    display: grid;
    grid-template-columns: 4fr 5px 3fr 1fr 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 2px solid black;
}

.wrapleft {
    border-right: 2px solid gray;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.logo {
    grid-row: 1/4;
    width: 65px;
    float: left;
    justify-self: left;
    margin: 5px;
    margin-left: 10px;
}

#search {
    grid-row: 2;
    grid-column: 2/4;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
}

#searchbar {
    float: left;
    margin-left: 10px;
    border-radius: 10px;
    padding-left: 20px;
    align-content: center;
    font-size: 18px;
    width: 70%;
    height: 100%;
    border: 2px solid rgb(94, 94, 94);
}



#butSearch {
    width: 20%;
    height: 100%;
    margin-left: 3%;
    border-radius: 20px;
    background-color: white;
}

#butSearch:hover {
    box-shadow: 2px 2px 2px black;
    background-color: rgb(215, 215, 215);
}

#butSearch i:hover {
    text-shadow: none;
}

#nom {
    grid-column: 3;
    justify-self: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 34px;
}

.icons {
    justify-self: center;
    text-decoration: none;
    color: #999;
}

.fa-solid:hover {
    text-shadow: 2px 2px 2px black;
}

.fa-house:hover {
    color: rgb(87, 87, 242);
}

.fa-square-plus:hover {
    color: rgb(126, 224, 241);
}

.fa-bookmark:hover {
    color: rgb(243, 84, 84);
}

.fa-user:hover {
    color: gray;
}
#Afficher{
    display:none;
}

#butSearch{
    border: 2px solid #696969;
}

.fa-magnifying-glass{
    color: #999;
}

@media only screen and (max-width: 830px) {
    
    .navbar {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 20px, 10px;

    }

    .wrapleft {
        border-right: 2px solid gray;
        display: block;
        border-right: none;

    }



    #nom {
        display: none;
    }

    #butSearch {
        width: 50%;
        height: 90%;
        float :right;
        margin-right: 15%;
        border-radius: 20px;
        background-color: white;
    }

    .icons {
        text-decoration: none;
        color: #999;
        flex-wrap: nowrap;
    }



    .logo {
        grid-column: 1;
        grid-row: 1;
        float :left;
    }

    #search {
        grid-column: 1;
        grid-row: 2;
    }

    #searchbar {
        display: none;
    }
    #Afficher{
        display:inline-block;
        margin-left : 30%;
    }
    #searchbar {
        float: left;
        margin-left: 10px;
        border-radius: 10px;
        padding-left: 20px;
        align-content: center;
        font-size: 18px;
        width: 150px;
        height: 100%;
        border: 2px solid rgb(94, 94, 94);
    }
    
}
