/* Style pour le conteneur principal */
.offre {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  border: 1px solid black;
}
.abvc {
  font-size: 20px;
  font-weight: bold; /* Vous pouvez ajouter ceci pour rendre le texte en gras, si vous le souhaitez */
  color: #333;
}
/* Style pour le logo de l'entreprise */
.logoEnt {
  float: left;
  margin-right: 20px;
  width: 100px;
  height: 100px;
}

/* Style pour l'icône de marque-page */
.icons {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
  color: #999;
}

/* Style pour le titre de l'offre */
.nomOffre {
  margin-top: 0;
  font-size: 580px;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Style pour le nom de l'entreprise */
.nomEntr {
  margin-top: 5%;
  color: #555;
  font-size: 24px;
  margin-bottom: 5%;
}

/* Style pour la liste des secteurs d'activité */
.secteur {
  margin: 5;
  padding: 0;
  list-style: none;
  margin-bottom: 5%;
}

.secteur li:before {
  content: '\2022';
  color: #999;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Style pour la liste des promotions */
.promo {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo li:before {
  content: '\2022';
  color: #999;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-bottom: 5%;
}

/* Style pour l'adresse */
.addresse {
  margin-top: 10px;
  color: #666;
}

/* Style pour la durée */
.duree {
  margin-top: 10px;
  color: #666;
}

/* Style pour la liste des compétences */
.competence {
  margin: 0;
  padding: 0;
  list-style: none;
}

.competence li {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}

/* Style pour la date de début */
.dateOffre {
  margin-top: 10px;
  color: #666;
}

/* Style pour la date d'émission */
.dateEmission {
  margin-top: 10px;
  color: #666;
}

/* Style pour le nombre de places */
.place {
  margin-top: 10px;
  color: #666;
}

/* Style pour la rémunération */
.paie {
  margin-top: 10px;
  color: #666;
}

/* Style pour l'adresse mail */
.mail {
  margin-top: 10px;
  color: #666;
}

/* Style pour la description de l'offre */
.descr {
  margin-top: 10px;
  color: #333;
}

/* Style pour le formulaire */
form {
  margin-top: 10px;
}

/* Style pour le menu déroulant */
select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #555;
  border-radius: 4px;
}

/* Style pour le bouton du formulaire */
button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  background-color: #4CAF50;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

/* Style pour le bouton du formulaire au survol */
button:hover {
  background-color: #3e8e41;
}
textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #000000;
  border-radius: 4px;
  outline: none;
  
}


/* Style pour le formulaire */
form {
margin-top: 10px;
}
/* Responsive styles */
@media (max-width: 830px) {
.offre {
    width: 71%;
}

.logoEnt {
    width: 80px;
    height: 80px;
}

.nomOffre {
    font-size: 28px;
}

.nomEntr {
    font-size: 20px;
}

.secteur li,
.promo li,
.competence li {
    font-size: 14px;
}

.addresse,
.duree,
.dateOffre,
.dateEmission,
.place,
.paie,
.mail {
    font-size: 14px;
}

.descr {
    font-size: 14px;
}

.select {
    font-size: 14px;
}

.button {
    font-size: 14px;
}
}