.all {
    display: flex;
    justify-content: center;
    margin-top: 6%;
    margin-left: 15%;
    margin-right: 15%;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: minmax(140px,auto);
    border-radius: 20px;
    background-image: url(./backgroundConnexion.jpg);
    background-size: cover;
    width: 85%;
}

.wrapper h1 {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    margin-top: 30%;
    color: white;
}

.wrapper h2 {
    grid-column: 2;
    grid-row: 2/4;
    margin-left: 20%;
    color: white;
}

.form {
    grid-column: 1;
    grid-row: 1/4;
    margin:10%;
    margin-top: 25%;
    margin-right: 20%;
    background-color: white;
    border-radius: 20px;
}

.champ {
    border: 1px solid black;
    border-radius: 10px;
    height: 70px;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 8%; 
    margin-left: 5%;
}

#forgorPassword {
    margin-bottom: 5%;
}

#connect {
    width: 90%;
}

#connect:hover {
    background-color: rgb(199, 199, 199);
}

#forgorPassword {
    display: flex;
    justify-content: center;
    align-content: center;
}